# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules
node_modules/
npm-debug.log
.sass-cache/
*.css.map
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

#figma
.figma/
